* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dc-secondary);
}

/* #region Common */
:root {
    --dc-dark: #1D1C1D;
    --dc-white: white;
    --dc-light: #f6f6f6;
    --dc-primary: #0c7dedFF;
    --dc-secondary: #313130;
}

.full-nav {
    width: 100%;
    background-color: var(--dc-primary);
}

.horizontal-bar {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: end;
    gap: 3rem;
    color: var(--dc-light);

}

ul {
    list-style: none;
}

nav {
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-text {
    width: 150px;
    text-align: end;
    border-bottom: 3px solid blue;
}

main {
    color: white;
}

img {
    max-width: 100%;
}

.container {
    width: 70%;
    max-width: 1176px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem
}

.col-2 {
    width: calc(100% / 12 * 2);
    margin-top: 1rem;
    padding: 1rem;
}

.jumbotron {
    height: 300px;
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-weight: 700;
    background-color: var(--dc-primary);
    padding: 0.5rem;
}

.load {
    font-weight: 700;
    color: white;
    background-color: var(--dc-primary);
    padding: 0.5rem;
    margin: auto;
    text-align: center;
}

.top_footer {
    background-image: url('../images/dc-logo-bg.png'), url('../images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: 500px, cover;
    background-position: 80%, top;
    height: 400px;

    & .row {
        display: flex;
        gap: 5rem;


        & .col-2 {
            width: calc(100% / 12 * 2);
            color: var(--dc-light);
            font-size: small;


            ul {
                list-style: none;
                padding-left: 0;
                margin-left: 0;


                & h4 {
                    margin-top: 2rem;
                    font-weight: 700;
                    color: var(--dc-light);

                }
            }
        }
    }
}

.banner {
    background-color: var(--dc-primary);
    height: 70px;
    display: flex;
    align-items: center;
}

.banner-container {
    margin: auto;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

.bottom-footer {
    background-color: var(--dc-dark);
}

.follow {
    display: flex;
    justify-content: end;
    width: 70%;
    gap: 1rem;
    margin: auto;
}

.follow h4 {
    color: var(--dc-primary);
    align-items: center;
}

.blue-strip {
    height: 50px;
    background-color: var(--dc-primary);
    display: flex;
    align-items: last baseline;
}

/* #region common single.blade*/
.d-flex {
    display: flex;
}

.w70 {
    width: 70%;
    margin: auto;
}

/* #endregion common single.blade*/

/* #region top-card*/
.top-card {
    background-color: white;
    padding: 40px;
}

.card-table {
    width: 60%;
    margin-right: 40px;

    & h3 {
        color: var(--dc-dark);
    }
}

thead {
    box-sizing: border-box;
    background-color: green;
    color: antiquewhite;
}

td {
    padding: 1rem;

    & p {
        color: var(--dc-dark);
    }
}

td.sinistra {
    width: 50%;
}

td.centro {
    width: 20%;
    border-right: 1px solid #000;
    text-align: end;
}

td.destra {
    width: 30%;
    text-align: center;
}

.card-image {
    & h5 {
        color: var(--dc-dark);
        text-align: end;
    }
}

/*#endregion top-card*/

/* #region bottom-card*/

.bottom-card {
    background-color: var(--dc-light);

    & table {

        & thead,
        tbody {
            background-color: var(--dc-light);
            color: var(--dc-dark);
        }

        ;

        & .table-title {
            font-weight: bold;
        }

    }

}

/*#endregion bottom-card*/

/* #region single-banner*/
.single-banner {
    color: var(--dc-dark);

}

.col-banner {
    width: calc(100% / 5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;

    & span {
        text-transform: uppercase;
        font-size: 12px;
    }
}

.grey {
    filter: grayscale(50%);
}

/*#endregion single-banner*/